
.container-all-twenty{
    background: #000000;
    top: 100%;
    width: 350pt;
    height: 350pt;
}

.twentytwenty-container{
    margin-top: 1pt;
    margin-left: 1pt;
    margin-right: 1pt;
    margin-bottom: 1pt;
}